.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 736px;
    margin: 4rem auto 0;
}

.container header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header h2:first-child{
  font-size: 0.875rem;
  color: var(--blue);
}

.container header h2:last-child{
  font-size: 0.875rem;
  color: var(--purple);
}

.container header span{
  font-size: 0.75rem;
  color: var(--gray-200);
  background-color: var(--gray-400);
  padding: 2px 8px;
  border-radius: 8px;
  margin-left: 0.5rem;
}

.emptyContent {
  width: 100%;
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 0.5rem;
}

.contentList {
  margin-top: 1.5rem;
  width: 100%;
}

.contentListItem {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--gray-500);
  margin-top: 0.75rem;
  color: var(--gray-100);
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.contentListItem button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.contentListItem span {
  flex-grow: 1;
  max-width: 90%;
  word-wrap: break-word;
}

.isCompleted {
  text-decoration: line-through;
  color: var(--gray-300);
}

.contentListItem button:last-child:hover {
  background-color: var(--gray-400);
  border-radius: 4px;
}

.emptyContentList {
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyContentList h2 {
  margin-top: 1.5rem;
  font-size: 1rem;
}

.emptyContentList p {
  font-size: 1rem;
}

.check {
  color: var(--blue);
}

.check:hover {
  color: var(--blue-dark);
}

.checked {
  color: var(--purple-dark);
}

.checked:hover {
  color: var(--purple);
}

.trash:hover {
  color: var(--danger);
}

@media (max-width: 720px){
  .container {
    margin: 3rem 1rem 0;
  }
}